<!-- {% if item %} -->
<!-- 
{% set name = name or item.name %} 
{% set open = open or item.open %} 
{% set icon = icon or item.icon %}
{% set style = style or item.style %} 
{% set htmx = htmx or item.htmx %} 
{% set children = children or item.children %} 
-->
<!-- {% endif %} -->

<!-- {% if children and children.keys() %} -->
<!-- 
  {% set icon = 'icons/folder-minus.svg' if open else 'icons/folder-plus.svg' %}
  {% set icon_htmx = 'hx-post="/taskserver/sidenav/toggle?name='+name+'" hx-target="closest .menu-item" hx-swap="outerHTML"' %} 
-->
<!-- {% endif %} -->

<div
  hx-get="/taskserver/sidenav/node?name={{name}}&path={{path}}"
  hx-trigger="{{name}} from:body"
  hx-target="this"
  class="menu-item"
>
  <!-- {% if item and item.is_running %} -->
  <span
    hx-get="/taskserver/sidenav/node?name={{name}}&path={{path}}"
    hx-trigger="load delay:1s"
  ></span>
  <!-- {% endif %} -->

  <!-- Render the task node -->
  <div
    class="flex items-center px-3 py-2 transition-colors duration-300 transform rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700 {{ style | default('text-gray-600 dark:text-gray-300') }}"
  >
    <!-- Define menu icon -->
    <span class="w-6 h-6 cursor-pointer" {{ icon_htmx or htmx }}>
      {% block icon %}
      <!-- {% if icon %} -->{% include icon %}<!-- {% endif %} -->
      {% endblock icon %}
    </span>

    <!-- Define the menu label -->
    {% block label %}
    <!-- {% if href %} -->
    <a
      href="{{ href }}"
      class="flex-grow mx-2 text-sm font-medium cursor-pointer"
      {{htmx}}
      >{{name}}</a
    >
    <!-- {% else %} -->
    <label class="flex-grow mx-2 text-sm font-medium cursor-pointer" {{htmx}}
      >{{name}}</label
    >
    <!-- {% endif %} -->
    {% endblock label %}

    <!-- Define any actions associated with this item-->
    {% block actions %}{% endblock actions %}
  </div>

  <!-- Render the children (if needed) -->
  {% block children %}
  <!-- {% if children and open %} -->
  <div class="flex flex-col ml-7">
    <!-- {% for name,item in children.items() %} -->
    {% include "partials/sidenav/menu-item.html" %}
    <!-- {% endfor %} -->
  </div>
  <!-- {% endif %} -->
  {% endblock children %}
</div>
