<!-- 
{% set menu_items = [
  {
    "name": "Show All",
    "icon": "icons/list.svg",
    "htmx": 'hx-get="/taskserver" hx-target="main" hx-replace-url="true"',
  },
  {
    "name": "Configuration",
    "icon": "icons/gears.svg",
    "htmx": 'hx-get="/taskserver/config" hx-target="main" hx-replace-url="true"',
  },
  {
    "name": "Import Tasks",
    "icon": "icons/plus.svg",
    "htmx": 'hx-get="/taskserver/config?import=true" hx-target="main" hx-replace-url="true"',
    "style": "text-gray-400 dark:text-gray-600",
  }
]
%}
-->
<div class="px-6">
  <div class="flex flex-col justify-between flex-1 mt-6">
    <nav class="-mx-3 space-y-6">
      <div class="space-y-3">
        <!-- {% with title="Taskfile Server" %} -->
        {% include "partials/sidenav/header.html" %}
        <!-- {% endwith %} -->
      </div>
    </nav>
  </div>
</div>
<div class="flex flex-row">
  <div class="w-30 h-30 p-6 fill-current text-gray-500 fill-gray-500">
    {% include "icons/taskfile-large.svg" %}
  </div>
  <div class="pt-4">
    <div class="-ml-6">
      <!-- {% for item in menu_items %} -->
      <!-- {% set name = item.name %} -->
      {% include "partials/sidenav/menu-item.html" %}
      <!-- {% endfor %} -->
    </div>
  </div>
</div>
