<div hx-target="this" hx-swap="outerHTML" class="flex flex-1 relative group">
  <!-- {% if run and not run.finished %} -->
  <!-- Auto-refresh in 1 second -->
  <div
    hx-get="/taskserver/run/breakdown?name={{name}}&job_id={{run.id}}"
    hx-trigger="load delay:1s"
  ></div>
  <!-- {% endif %} -->

  <div
    class="task-commands flex flex-col flex-1 text-gray-600 dark:text-gray-300"
  >
    <!-- {% if breakdown %} -->

    <!-- Task breakdown is cached -->
    <div
      class="task-breakdown -m-1 p-2 bg-gray-50 dark:bg-gray-800 text-gray-500 dark:text-gray-400"
    >
      {% include 'partials/run/list.html' %}
    </div>

    <!-- {% else %} -->

    <!-- No Breakdown available -->
    <div class="flex flex-1 my-2 opacity-25">
      <span class="pl-2">No task breakdown available...</span>
    </div>

    <!-- {% endif %} -->
  </div>

  <!-- Copy the task commands to clipboard -->
  <div class="absolute top-2 right-2 space-x-2 flex">
    <!--
    {% set htmx_toggle = '/taskserver/run/breakdown?name='+name+'&index=' %}
    {% if run %}
    {% set htmx_toggle = htmx_toggle + '&job_id='+run.id %}
    {% endif %}
    -->
    <!-- {% if breakdown and not breakdown.open %} -->
    <a
      title="Expand all commands"
      hx-get="{{htmx_toggle}}&state=expand"
      class="opacity-25 hover:opacity-75 cursor-pointer"
    >
      {% include 'icons/arrow-expand.svg' %}
    </a>
    <!-- {% else %} -->
    <a
      title="Collapse all commands"
      hx-get="{{htmx_toggle}}&state=collapse"
      class="opacity-25 hover:opacity-75 cursor-pointer"
    >
      {% include 'icons/arrow-collapse.svg' %}
    </a>
    <!-- {% endif %} -->
    <button
      type="button"
      title="Copy commands"
      class="opacity-25 hover:opacity-75"
      onclick="navigator.clipboard.writeText(document.querySelector('.task-commands').innerText);"
    >
      {% include 'icons/copy.svg' %}
    </button>
  </div>
</div>
