<!-- {% if breakdown %} -->
<ul
  class="flex flex-col p-1 -ml-1 pl-2 bg-gray-50 dark:bg-gray-800 text-gray-500 dark:text-gray-400"
>
<!-- {% for item in breakdown %} -->
<!-- 
{% set item_type = item.type %} 
{% set item_types = {
  "cmd": {
    "icon": "icons/terminal.svg",
    "style": "text-gray-500",
  },
  "task": {
    "icon": "icons/document-text.svg",
    "style": "text-blue-500",
  },
}
%}
{% set values = item_types[item_type] | default(item_types["cmd"])  %} 
{% set icon = values.icon  %} 
{% set style = values.style  %} 

{% if run and run.finished and run.exitCode == 0 %}
{% set icon = 'icons/document-check.svg'  %} 
{% set style = 'text-green-500'  %} 
{% endif %}

{% if run and run.exitCode %}
{% set icon = 'icons/error.svg'  %} 
{% set style = 'text-red-500'  %} 
{% endif %}

-->
  <li class="p-1 flex items-top {{style}}">
    {% include icon %}
    <!-- {% if item_type == "task" %}-->
    <pre class="pl-2 flex item-center">task {{ item.message }}</pre>
    <!-- {% else %}-->
    <pre class="pl-2">{{ item.message }}</pre>
    <!-- {% endif %}-->
  </li>
  <!-- {% endfor %} -->
</ul>
<!-- {% else %} -->
<div class="opacity-25 flex flex-row">
  <em class="p-2">Not available...</em>
</div>
<!-- {% endif %} -->
