<div class="flex p-2" hx-target="this" hx-swap="outerHTML">
  <!-- {% if run and not run.finished %} -->
  <span
    hx-get="/taskserver/run/status?job_id={{run.id}}"
    hx-trigger="load delay:1s"
  ></span>
  <!-- {% if name %} -->
  <script>
    // Trigger the update event to force sidenav to update
    htmx && htmx.trigger(htmx.find("body"), "{{name}}");
  </script>
  <!-- {% endif %} -->
  <!-- {% endif %} -->

  <!-- {% if not run %} -->
  <em class="text-gray-500 opacity-50">Cannot find any run details</em>
  <!-- {% elif not run.started and not run.finished %} -->
  <div class="flex text-gray-500 opacity-50">
    {% include 'icons/play.svg' %}
    <span class="ml-2 font-slim">Task has not been run yet...</span>
  </div>
  <!-- {% elif run.started and not run.finished %} -->
  <div class="flex text-blue-500 opacity-75">
    <span class="w-6 h-6 animate-spin">
      {% include 'icons/arrow-path.svg' %}
    </span>
    <span class="ml-2">
      <span class="font-bold">task {{run.task.name}}</span>
      <span class="font-slim italic opacity-75">
        <!-- {% set timed = run.ellapsed %} -->
        {% include 'partials/run/timer.html' %}
      </span>
    </span>
  </div>
  
  <!-- {% elif run.started and run.finished %} -->
  <!-- {% if run.exitCode %} -->
  <div class="flex text-red-500">
    {% include 'icons/error.svg' %}
    <span class="mx-2 font-normal">Task failed to run!</span>
    <span class="font-thin">
      Returned with exit code [
      <span class="font-bold">{{ run.exitCode }}</span> ]
    </span>
    <span class="font-thin">
      -
      <!-- {% set timed = run.finished - run.started %} -->
      {% include 'partials/run/timer.html' %}
    </span>
  </div>
  <!-- {% else %} -->
  <div class="flex text-green-500">
    {% include 'icons/check.svg' %}
    <span class="mx-2 font-thin">Task completed in</span>
    <span class="font-bold">
      <!-- {% set timed = run.finished - run.started %} -->
      {% include 'partials/run/timer.html' %}
    </span>
  </div>
  <!-- {% endif %} -->
  <!-- {% endif %} -->
</div>
