<!-- 
{% set item_key = '.includes.' + key %} 
{% set status_raw = taskfile.status(item_key) if not errors else "Error" %} 
{% set status_values = {
  "Unchanged": {
    "icon": "icons/document.svg",
    "style": "text-gray-500",
  },
  "Changed": {
    "icon": "icons/document-text.svg",
    "style": "text-blue-500",
  },
  "Deleted": {
    "icon": "icons/document-minus.svg",
    "style": "text-red-500 line-through",
  },
  "Added": {
    "icon": "icons/document-plus.svg",
    "style": "text-green-500",
  },
  "Error": {
    "icon": "icons/error.svg",
    "style": "text-red-500",
  }
}
%}
{% set status = status_values[status_raw] | default(status_values["Unchanged"])  %} 
-->
<form
  id="include_{{id}}"
  method="post"
  action="/task/config/includes"
  hx-post="/task/config/includes"
  hx-target="self"
  hx-swap="outerHTML"
  class="flex flex-row my-1 text-gray-500 {{ status.style }}"
>
  <div class="w-6 mr-1">{% include status.icon %}</div>
  <div class="w-24">
    <!--
    {% set target_name = "key"  %} 
    {% set validations = errors[target_name] if target_name in errors else []  %} 
    {% set extra_style = "" if not validations else "text-red-500 placeholder:text-red-500 border-red-500 focus:outline-red-500 dark:focus:outline-0"  %} 
    -->
    <input
      type="text"
      id="key_{{id}}"
      name="key.includes.{{id}}"
      value="{{key}}"
      placeholder="{{ key | default('prefix', true) }}"
      class="peer w-24 px-2 py-0.5 flex-1 text-sm block bg-white text-gray-900 border border-gray-300 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white {{extra_style}}"
      required
    />
    <!-- {% if validations %} -->
    <div
      class="invisible peer-focus:visible p-2 mt-0 text-sm font-normal absolute w-max whitespace-normal break-words border border-red-50 bg-white text-red-500 shadow-lg focus:outline-none"
    >
      {% for error in validations %}
      <div>{{error}}</div>
      {% endfor %}
    </div>
    <!-- {% endif %} -->
  </div>
  <div class="flex flex-row flex-1">
    <!--
    {% set target_name = "value"  %} 
    {% set validations = errors[target_name] if target_name in errors else []  %} 
    {% set extra_style = "" if not validations else "text-red-500 placeholder:text-red-500 border-red-500 focus:outline-red-500 dark:focus:outline-0"  %} 
    -->
    <input
      type="text"
      id="value_{{id}}"
      name="config.includes.{{id}}"
      value="{{value}}"
      placeholder="{{ placeholder | default('/path/to/Taskfile.yaml', true) }}"
      class="peer flex flex-1 px-2 py-0.5 text-sm block bg-white text-gray-900 border border-gray-300 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white {{extra_style}}"
      required
    />

    <!-- {% if validations %} -->
    <div
      class="invisible peer-focus:visible p-2 mt-6 text-sm font-normal absolute w-max whitespace-normal break-words border border-red-50 bg-white dark:bg-gray-900 text-red-500 shadow-lg focus:outline-none"
    >
      {% for error in validations %}
      <div>{{error}}</div>
      {% endfor %}
    </div>
    <!-- {% endif %} -->

    <button
      type="submit"
      name="{{key}}"
      value="save"
      hx-post="/task/config/includes"
      hx-target="#include_{{id}}"
      hx-swap="outerHTML"
      class="mx-1 opacity-20 hover:opacity-100"
    >
      {% include "icons/check.svg" %}
    </button>
    <button
      type="button"
      name="{{key}}"
      value="close"
      hx-get="/task/config/includes"
      hx-confirm="{% if key and not status_raw == 'Unchanged' %}Are you sure? Unsaved changes for '{{key}}' will be lost?{% endif %}"
      hx-target="#include_{{id}}"
      hx-swap="outerHTML"
      class="mx-1 opacity-20 hover:opacity-100"
    >
      {% include "icons/close.svg" %}
    </button>
  </div>
</form>
{% if autofocus %}
<script>
  (function () {
    // Trigger a focus action on the target input (if not already focussed)    
    found = document.getElementsByName("{{autofocus}}");
    input = (found.length && found[0]) || null;
    isActive = document.activeElement === input;    
    if (input && !isActive) {
      input.focus();
    }
  })();
</script>
{% endif %}
