{% extends 'base.html' %} {% block content %} {% include 'partials/toolbar.html'
%}
<div class="h-full flex flex-col">
  <form class="flex flex-col flex-0 resize-y overflow-hidden">
    <input type="hidden" name="name" value="{{task.name}}" />
    <input type="hidden" name="path" value="{{taskfile.path}}" />
    <!-- Command toolbar -->
    {% include 'partials/toolbar/command.html' %}
    <!-- Task details and variables -->
    {% include 'partials/task-details.html' %}
  </form>

  <!-- Terminal Output -->
  <!-- {% if output %} -->
  <div
    class="terminal-output min-h-64 overflow-y-auto flex flex-col flex-1 text-sm p-4 text-gray-500 bg-gray-900 dark:bg-gray-900 opacity-75 dark:opacity-100"
  >
    {{output}}
  </div>
  <!-- {% endif %} -->
</div>
{% endblock content %}
