<table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
  <thead class="bg-gray-50 dark:bg-gray-800">
    <tr class="text-sm font-normal text-gray-500 dark:text-gray-400">
      <th class="flex flex-row py-3.5 px-4 w-1/2">
        {% include 'task/icons/chevron-down.svg' %}
        <span class="pl-2 py-0.5">Configuration</span>
      </th>
      <th class="py-3.5 px-4 w-1/2">
        {% include "task/config/includes/header.html" %}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white dark:bg-gray-900 text-gray-500 dark:text-gray-200 border-b border-gray-200 dark:border-gray-700">
      <td
        class="flex flex-row pb-0.5"
      >
        <div class="w-48 h-48 p-6 text-gray-500">
          {% include 'task/icons/tools-large.svg' %}
        </div>
        <div class="flex flex-col flex-grow p-4">
          <div class="flex flex-row">
            <label class="p-2 w-32 on inline-block element">Version:</label>
            <span class="p-2">{{ taskfile.version }}</span>
          </div>
          <div class="flex flex-row">
            <label class="p-2 w-32 on inline-block element"
              >Taskfile Path:</label
            >
            <span class="p-2 font-bold">{{ taskfile._path }}</span>
          </div>
        </div>
      </td>
      <td
        class="align-top pb-0.5"
      >
        {% include "task/config/includes.html" %}
      </td>
    </tr>
  </tbody>
</table>
