<div x-data="{ dropdownOpen: false }" class="flex flex-row relative">
  <span class="flex-1 text-left">Taskfile Includes</span>
  <button
    type="button"
    @click="dropdownOpen = !dropdownOpen"
    class="flex flex-0 py-1 -my-1 px-4 mx-1 items-center space-x-2 text-gray-300 dark:text-gray-700 hover:text-gray-500 dark:hover:text-gray-500"
  >
    {% include 'icons/folder-plus.svg' %}
    <span>Import tasks</span>
  </button>
  <div style="display: none" x-show="dropdownOpen">
    <div
      @click="dropdownOpen = false"
      class="fixed inset-0 h-full w-full z-10"
    ></div>
    <div
      class="absolute right-0 mt-10 bg-white rounded-md shadow-lg overflow-hidden z-20"
      style="width: 20rem"
    >
      <div class="text-sm font-normal text-gray-400 dark:text-gray-600">
        <!-- Import local -->
        {% include "partials/config/includes/menu/local.html" %}
        <!-- Import Git -->
        {% include "partials/config/includes/menu/git.html" %}
        <!-- Upload Taskfile -->
        {% include "partials/config/includes/menu/upload.html" %}
      </div>
      <a class="block bg-gray-700 text-white text-center font-bold py-3 cursor-pointer">
        Browse for tasks...
      </a>
    </div>
  </div>
</div>
