<div style="display: none" x-show="dropdownOpen">
  <div
    @click="dropdownOpen = false"
    class="absolute inset-0 h-full w-full z-20"
  ></div>
  <div
    class="absolute bg-white rounded-md shadow-lg overflow-hidden z-30"
    style="width: 20rem"
  >
    <div class="text-sm font-normal text-gray-400 dark:text-gray-600">
      <!-- Import local -->
      {% include "partials/config/includes/menu/local.html" %}
      <!-- Import Git -->
      {% include "partials/config/includes/menu/git.html" %}
      <!-- Upload Taskfile -->
      {% include "partials/config/includes/menu/upload.html" %}
    </div>
    <a
      class="block bg-gray-700 text-white text-center font-bold py-3 cursor-pointer"
    >
      Browse for tasks...
    </a>
  </div>
</div>
