<!-- 
{% set item_key = '.' + dest + '.' + key %} 
{% set status_raw = taskfile.status(item_key) %} 
{% set status_values = {
  "Unchanged": {
    "icon": "",
    "style": "text-gray-500",
  },
  "Changed": {
    "icon": "icons/pencil.svg",
    "style": "text-blue-500",
  },
  "Deleted": {
    "icon": "icons/minus.svg",
    "style": "text-red-500 line-through",
  },
  "Added": {
    "icon": "icons/plus.svg",
    "style": "text-green-500",
  }
}
%}
{% set status = status_values[status_raw] | default(status_values["Unchanged"])  %} 
-->

{% with key=key, value=value, placeholder=placeholder %}
<tr id="values_{{dest}}_{{key}}" class="text-sm font-medium {{status.style}}">
  <td class="pl-4 py-4 whitespace-nowrap">
    <!-- {% if status.icon %} -->
    <span class="opacity-50">{% include status.icon %}</span>
    <!-- {% endif %} -->
  </td>
  <td class="pl-4 py-4 whitespace-nowrap">
    <label class="">{{key}}</label>
  </td>
  <td class="flex flex-row pl-4 py-4 whitespace-nowrap">
    <input
      type="text"
      value="{{ value | e }}"
      name="config.{{dest}}.{{key}}"
      placeholder="{{ placeholder | e }}"
      class="flex-1 bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      hx-post="/task/config/{{dest}}"
      hx-target="#values_{{dest}}_{{key}}"
      hx-trigger="keyup changed delay:1s"
      hx-swap="outerHTML"
    />
    <button
      type="submit"
      name="{{key}}"
      title="Delete key: {{key}}"
      class="flex-0 px-8 text-gray-300 dark:text-gray-700 hover:text-gray-500 dark:hover:text-gray-300"
      hx-delete="/task/config/{{dest}}"
      hx-confirm="Delete '{{dest}}.{{key}}'. Are you sure?"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
    >
      {% include "icons/trash.svg" %}
    </button>
  </td>
</tr>
{% if focus %}
<script>
  (function () {
    input = document.getElementsByName("config.{{dest}}.{{key}}")[0];
    if (input) {
      input.focus();
    }
  })();
</script>
{% endif %} {% endwith %}
