<!-- 
{% set item_key = '.' + dest + '.' + key %} 
{% set status_raw = taskfile.status(item_key) %} 
{% set status_values = {
  "Unchanged": {
    "icon": "",
    "style": "text-gray-500",
  },
  "Changed": {
    "icon": "icons/pencil.svg",
    "style": "text-blue-500 dark:text-blue-500 focus:border-blue-500",
  },
  "Deleted": {
    "icon": "icons/minus.svg",
    "style": "text-red-500 dark:text-red-500 focus:border-red-500 line-through",
  },
  "Added": {
    "icon": "icons/plus.svg",
    "style": "text-green-500 dark:text-green-500 peer-focus:text-green-500 peer-focus:dark:text-green-500 focus:border-green-500 dark:focus:border-green-500",
  }
}
%}
{% set status = status_values[status_raw] | default(status_values["Unchanged"])  %} 
-->

{% with key=key, value=value, placeholder=placeholder %}
<tr id="values_{{dest}}_{{key}}" class="h-10 text-sm {{status.style}}">
  <td class="px-2 whitespace-nowrap">
    <!-- {% if status.icon %} -->
    <span class="opacity-50">{% include status.icon %}</span>
    <!-- {% endif %} -->
  </td>
  <td class="flex flex-row whitespace-nowrap">
    <div class="relative z-0 h-10 w-full group">
      <input
        type="text"
        name="config.{{dest}}.{{key}}"
        value="{{value|e}}"
        placeholder=""
        class="{{status.style}} block my-1 py-1 px-4 w-full text-sm font-bold text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        hx-post="/task/config/{{dest}}?key={{key}}"
        hx-target="#values_{{dest}}_{{key}}"
        hx-trigger="keyup changed delay:1s"
        hx-swap="outerHTML"
      />
      <label
        for="config.{{dest}}.{{key}}"
        class="{{status.style}} absolute text-sm text-gray-500 dark:text-gray-600 duration-300 transform -translate-y-4 scale-75 top-2 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
        >{{key}}</label
      >
    </div>
    <!--
    <label class="w-24 ml-2 py-2">{{key}}</label>
    <input
      type="text"
      value="{{value|e}}"
      name="config.{{dest}}.{{key}}"
      placeholder="{{ placeholder | e }}"
      class="flex-1 bg-gray-50 w-full border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      hx-post="/task/config/{{dest}}?key={{key}}"
      hx-target="#values_{{dest}}_{{key}}"
      hx-trigger="keyup changed delay:1s"
      hx-swap="outerHTML"
    />
    -->
    <button
      type="button"
      title="Delete key: {{key}}"
      class="flex-0 -ml-8 -mt-3 z-20 cursor-pointer text-gray-300 dark:text-gray-700 hover:text-gray-500 dark:hover:text-gray-300 opacity-75 hover:opacity-100"
      hx-delete="/task/config/{{dest}}?key={{key}}"
      hx-confirm="Delete '{{dest}}.{{key}}'. Are you sure?"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
      onclick="event.stopPropagation()"
    >
      {% include "icons/trash.svg" %}
    </button>
    
  </td>
</tr>
{% if focus %}
<script>
  (function () {
    input = document.getElementsByName("config.{{dest}}.{{key}}")[0];
    if (input) {
      input.focus();
    }
  })();
</script>
{% endif %} {% endwith %}
