<style>
  .task-variables tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>
{% set closed = ctx.keys() | length == 0 %}
<table
  id="{{dest}}_values"
  x-data="{ open: {% if closed %}false{% else %}true{% endif %} }"
  class="task-variables min-w-full"
>
  <thead class="font-normal">
    <tr
      class="text-left rtl:text-right text-gray-500 dark:text-gray-300"
    >
      <th class="w-4 p-2 cursor-pointer" @click="open = !open">
        <span x-show="open">{% include 'icons/chevron-down.svg' %}</span>
        <span x-show="!open">{% include 'icons/chevron-right.svg' %}</span>
      </th>
      <th class="flex flex-row">
        <!-- Display Name -->
        <label @click="open = !open" class="flex-1 py-1.5 font-normal cursor-pointer">
          {{title}}
          <!-- {% if ctx and ctx.keys() | length > 0 %} -->
          ( {{ ctx.keys() | length }} )
          <!-- {% endif %} -->
        </label>
        <div class="flex flex-row flex-0">
          <span class="flex-1"></span>
          <!-- Value Actions (top-right) -->
          {% include 'partials/config/add.html' %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody
    id="config-{{dest}}"
    style="{% if closed %}display: none{% endif %}"
    x-show="open"
  >
    <!-- {% if ctx %} List values for the current context -->
    {% for key,value in ctx.items() %}
    <!-- Key-value pair -->
    {% include 'partials/values/item.html' %} {% endfor %}
    <!-- {% else %} Empty: No value defined for context -->
    {% include 'partials/config/empty.html' %}
    <!-- {% endif %} -->
  </tbody>
</table>
