<!-- 
{% set item_key = '.includes.' + key %} 
{% set status_raw = taskfile.status(item_key) if not errors else "Error" %} 
{% set status_values = {
  "Unchanged": {
    "icon": "icons/document.svg",
    "style": "text-gray-500",
  },
  "Changed": {
    "icon": "icons/document-text.svg",
    "style": "text-blue-500",
  },
  "Deleted": {
    "icon": "icons/document-minus.svg",
    "style": "text-red-500 line-through",
  },
  "Added": {
    "icon": "icons/document-plus.svg",
    "style": "text-green-500",
  },
  "Error": {
    "icon": "icons/error.svg",
    "style": "text-red-500",
  }
}
%}
{% set status = status_values[status_raw] | default(status_values["Unchanged"])  %} 
-->
<form
  id="include_{{id}}"
  method="post"
  action="/task/config/includes?path={{taskfile._path}}&id={{id}}"
  hx-post="/task/config/includes?path={{taskfile._path}}&id={{id}}"
  hx-target="self"
  hx-swap="outerHTML"
  class="flex flex-row h-10 text-gray-500 {{ status.style }}"
>
  <div class="w-6 py-2 mr-1">{% include status.icon %}</div>
  <div class="w-24 flex flex-0">
    <!--
    {% set target_name = "key"  %} 
    {% set validations = errors[target_name] if target_name in errors else []  %} 
    {% set extra_style = "" if not validations else "text-red-500 placeholder:text-red-500 border-red-500 focus:border-red-600 dark:focus:border-red-500"  %} 
    -->
    <input
      type="text"
      id="key_{{id}}"
      name="key"
      value="{{key}}"
      placeholder="name"
      class="{{extra_style}} peer block my-2 px-2 w-full font-normal bg-transparent border-0 border-b border-gray-300 appearance-none text-gray-900 dark:text-white placeholder:text-gray-400 placeholder:text-gray-600 dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
      autocomplete="off"
      required
    />
    <!-- {% if validations %} -->
    {% include 'partials/config/includes/items/validations.html' %}
    <!-- {% endif %} -->
  </div>
  <div class="flex flex-1">
    <!--
    {% set target_name = "value"  %} 
    {% set validations = errors[target_name] if target_name in errors else []  %} 
    {% set extra_style = "" if not validations else "text-red-500 placeholder:text-red-500 border-red-500 focus:border-red-600 dark:focus:border-red-500"  %} 
    -->
    <input
      type="text"
      id="value_{{id}}"
      name="value"
      value="{{value}}"
      placeholder="{{placeholder}}"
      class="{{extra_style}} peer block my-2 px-2 w-full font-normal bg-transparent border-0 border-b border-gray-300 appearance-none text-gray-900 dark:text-white placeholder:text-gray-400 placeholder:text-gray-600 dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
      autocomplete="off"
      required 
    />

    <!-- {% if validations %} -->
    {% include 'partials/config/includes/items/validations.html' %}
    <!-- {% endif %} -->

    <button
      type="submit"
      name="action"
      value="save"
      hx-post="/task/config/includes?path={{taskfile._path}}&id={{id}}"
      hx-target="#include_{{id}}"
      hx-swap="outerHTML"
      class="mx-1 opacity-50 hover:opacity-100"
    >
      {% include "icons/check.svg" %}
    </button>
    <button
      type="button"
      name="action"
      value="close"
      hx-get="/task/config/includes?path={{taskfile._path}}&id={{id}}"
      hx-confirm="{% if key and not status_raw == 'Unchanged' %}Are you sure? Unsaved changes for '{{key}}' will be lost?{% endif %}"
      hx-target="#include_{{id}}"
      hx-swap="outerHTML"
      class="mx-1 opacity-50 hover:opacity-100"
    >
      {% include "icons/close.svg" %}
    </button>
  </div>
</form>
{% if autofocus %}
<script>
  (function () {
    // Trigger a focus action on the target input (if not already focussed)    
    found = document.getElementById("{{autofocus}}");
    isActive = document.activeElement === found;    
    if (found && !isActive) {
      found.focus();
    }
  })();
</script>
{% endif %}
