<div
  class="flex flex-0 text-sm font-bold text-gray-500 dark:text-gray-400 bg-gray-50 dark:bg-gray-800"
>
  <div class="w-full flex flex-row py-3.5 px-4">
    {% include 'icons/gears.svg' %}
    <span class="pl-2 py-0.5">Configuration</span>
  </div>
</div>
<div
  class="flex flex-row flex-1 bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700"
>
  <div class="w-48 h-48 p-6 text-gray-500">
    {% include 'icons/tools-large.svg' %}
  </div>
  <div class="flex flex-col flex-grow py-4 text-gray-600 dark:text-gray-300">
    <div class="flex flex-row">
      <!-- Task main details -->
      <div class="w-1/2 flex flex-col">
        <div class="flex flex-row">
          <label class="p-2 w-32 on inline-block element">Taskfile Path:</label>
          <a class="p-2 font-bold flex flex-row">
            {{ taskfile.path }}
          </a>
        </div>

        <!-- Task Includes -->
        <div class="flex flex-row mr-8">
          <label class="p-2 w-32 on inline-block element">Include Tasks:</label>
          <div class="flex-1 align-top">
            {% include "partials/config/includes.html" %}
          </div>
        </div>
      </div>

      <!-- Task variables -->
      <div class="w-1/2 flex flex-col relative">
        <!-- ENV Overrides -->
        <div class="flex flex-row mr-8">
          <div class="flex-1 align-top">
            <!-- Environment Vars {% with title="System Environment Variables", dest="env", ctx=taskfile.env %} -->
            {% include 'partials/values/list.html' %}
            <!-- {% endwith %} -->
          </div>
        </div>

        <!-- Global Task Vars -->
        <div class="flex flex-row mr-8">
          <div class="flex-1 align-top">
            <!-- Taskfile Variables {% with title="Global Taskfile Variables", dest="vars", ctx=taskfile.vars %} -->
            {% include 'partials/values/list.html' %}
            <!-- {% endwith %} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
