<div id="task-includes" class="flex flex-col justify-start p-1">
  {% if taskfile.includes %}
  <!-- This taskfile has includes... -->
  {% for key, value in taskfile.includes.items() %}  
  <!-- Include item -->  
  {% include "partials/config/includes/items/default.html" %} 
  {% endfor %} {% endif %}

  <!-- Placeholder for new items to be added -->
  <div id="add-import-item"></div>
  
  <!-- Quick add option -->
  {% with key="add" %}
  {% include "partials/config/includes/items/add.html" %}
  {% endwith %}
</div>
