<style>
  #{{dest}}_values tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>
<table
  id="{{dest}}_values"
  x-data="{ open: {% if closed %}false{% else %}true{% endif %} }"
  class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 border-solid border-0 border-b border-gray-200 dark:border-gray-700"
>
  <thead class="bg-gray-50 dark:bg-gray-800">
    <tr
      class="font-normal text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <th class="w-4 py-3.5 px-4 cursor-pointer" @click="open = !open">
        <span x-show="open">{% include 'icons/chevron-down.svg' %}</span>
        <span x-show="!open">{% include 'icons/chevron-right.svg' %}</span>
      </th>
      <th class="w-64 py-3.5 px-4">
        <!-- Display Name -->
        {{ title }}
      </th>
      <th class="py-3.5 px-4">
        <div class="flex flex-row">
          <span class="flex-1"></span>
          <!-- Value Actions (top-right) -->
          {% include 'config/add.html' %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody
    id="config-{{dest}}"
    class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900"
    style="{% if closed %}display: none{% endif %}"
    x-show="open"
  >
    <!-- {% if ctx %} List values for the current context -->
    {% for key,value in ctx.items() %}
    <!-- Key-value pair -->
    {% include 'values/item.html' %} {% endfor %}
    <!-- {% else %} Empty: No value defined for context -->
    {% include 'config/empty.html' %}
    <!-- {% endif %} -->
  </tbody>
</table>
